In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix
import seaborn as sns

#### Loading the upsampled dataset

In [4]:
upsampled_data = pd.read_csv('/Users/amarjotsinghlohia/Documents/Dissertation/Data/home-credit-default-risk/application_train_upsampled.csv')
upsampled_data.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_INCOME_TYPE_2,NAME_INCOME_TYPE_3,NAME_INCOME_TYPE_4,NAME_EDUCATION_TYPE_0,NAME_EDUCATION_TYPE_1,NAME_EDUCATION_TYPE_2,NAME_EDUCATION_TYPE_3,NAME_FAMILY_STATUS_0,NAME_FAMILY_STATUS_1,NAME_FAMILY_STATUS_2
0,1,100003,0,0,1,0,0,270000.0,1293502.5,35698.5,...,0,0,1,0,0,1,0,0,0,1
1,2,100004,0,1,0,1,1,67500.0,135000.0,6750.0,...,0,1,0,0,1,0,0,1,0,0
2,3,100007,0,0,0,0,1,121500.0,513000.0,21865.5,...,0,1,0,0,1,0,0,1,0,0
3,4,100008,0,0,0,0,1,99000.0,490495.5,27517.5,...,0,0,1,0,1,0,0,0,0,1
4,5,100009,0,0,1,1,1,171000.0,1560726.0,41301.0,...,0,1,0,0,0,1,0,0,0,1

#### Splitting dataset into X and Y

In [5]:
X = upsampled_data.drop(["Unnamed: 0","TARGET"],axis=1)
print ("Shape of X",X.shape)
y = upsampled_data["TARGET"]
print ("Shape of y",y.shape)

Shape of X (336226, 58)
Shape of y (336226,)

#### Splitting dataset into train and test with 30% testing data

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=50)

## RANDOM FOREST

In [8]:
Rf = RandomForestClassifier()
Rf.fit(X_train,y_train)

In [ ]:
y_pred = Rf.predict(X_test)

In [ ]:
accuracy_score(y_test,y_pred)

#### Fitting the model

In [ ]:
New_Rf = RandomForestClassifier(max_samples=0.75,random_state=50)
New_Rf.fit(X_train,y_train)

#### Performing different metrics

In [ ]:
y_pred = New_Rf.predict(X_test)
accuracy_score(y_test,y_pred)

In [ ]:
print(classification_report(y_pred,y_test))

In [ ]:
confusion_matrix(y_test,y_pred)

### Plotting the ROC and AUC curve

In [ ]:
probs = New_Rf.predict_proba(X_test)
fpr, tpr, thresholds = roc_curve(y_test, y_pred)
sns.lineplot([0,1],[0,1], color='red', linestyle='--')
plt = sns.lineplot(fpr, tpr, marker = '.',label='ROC Curve')